body {background-image: url(http://denilsonrodrigues.github.io/onehundred/assets/images/rioBg.jpg); background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -ms-background-size: cover; -o-background-size: cover;}
h1 {font-size:34px;}
h2 {font-size:20px;}
h1, h2 {font-family:trebuchet ms; color:#fff; margin:0 auto; width:455px; text-align:center;}
canvas {margin:30px auto; width:400px; border-radius:14px; -moz-border-radius: 14px; -webkit-border-radius:14px; opacity:0.9;}